*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

body{
    background-color: #000;

}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/j.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .logo{
    font-weight: bolder;
    font-size: 25px;
    color: #f61706;
}   

.menu .navbar ul{
    list-style: none;
} 

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover {
    color:#f61706;
}

#menu  {
    display: none;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-text{
    text-align: center;
    width: 700px;
}

.header-text h1{
    color: #ffffff;
    font-size: 55px;
}

.header-text p{
    margin-top: 35px;
    color: #ffffff;
}   

.btn-1{
    display: inline-block;
    background-color: #f61706;
    margin-top: 35px;
    padding: 15px 25px;
    border-radius: 25px;
    color: #ffffff;
}

.btn-1:hover{
    background-color: #cd1103;
}

.services{
    padding: 50px 0px;
    text-align: center;
    color: #ffffff;
}

.services h2 {
    font-size: 55px;
    margin-bottom: 25px;
}

.txt-1 {
    font-size: 18px;
    padding: 0px 200px;
}

.group-services{
    display: flex;
    justify-content: space-between;
}

.service {
    padding: 35px 25px;
}

.service img {
    width: 50px;
    margin-bottom: 25px;
}

.service h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.service p {
    font-size: 18px;
}

.porfolio{
    text-align: center;
    padding: 50px 0px;
    color: #ffffff;
}

.porfolio-txt{
    margin-bottom: 50px;
    margin-top: 20px;
}

.porfolio-txt h2{
    font-size: 55px;
    margin-bottom: 35px;
}

.porfolio-txt p{
    font-size: 18px;
}

.imgs{
    display: flex;
    justify-content: center;
}

.imgs img{
    width: 250px;
    margin: 0px 10px;
}

.bg-sec{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/Mono_aullador_Amazonia.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 35px 0px;
}

.bg-txt {
    padding: 150px 0px;
    text-align: center;
    color: #ffffff;
}

.bg-txt h2{
    font-size: 55px;
    margin-bottom: 35px;
}

.bg-txt p {
    font-size: 18px;
    margin-bottom: 25px;
}

.prices{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.price{
    text-align: center;
}

.price h3{
    font-size: 30px;
    margin-bottom: 25px;
}

.price ul li{
    font-size: 18px;   
}

footer{
    padding: 150px 0px;
}

.ft{
    display: flex;
    justify-content: space-between;
}

.enlace h3 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 25px;
}

.enlace li{
    list-style: none;
}

.enlace a{
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
}

.enlace form{
    display: flex;
    flex-direction: column;
}

.btn-2 {
    padding: 10px 25px;
    border: 0px;
}

.btn-3 {
    background-color: #f61706;
    padding: 10px 25px;
    border: 0px;
    color: #ffffff;
    margin-top: 15px;
}










/**Formulario*/
/**Cambiando estilos predeterminados del navegador*/
html{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: sans-serif;
}


/**reglas de estilo para la seccion de formulario*/
#formulario {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 400px;
    box-shadow: 2px 2px 4px rgba(0, 4, 0, 0);
    padding: 50px;
}
/**Cambios para titulo*/
.titulo{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
/**Margen al boton de texto*/
label{
    display: block;
    margin-bottom: 5px;
}
/*Cambiar el aspecto de nuestras etiquetas input*/
#formulario div input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
/*espacio y efectos de cambio de color:*/
#formulario div{
    position: relative;
    margin-bottom: 15px;
}
input:focus{
    border: 2px solid #f2796e;
}
/*reglas de estilo para los iconos del formulario*/
#formulario div i {
    position: absolute;
    padding: 10px;
}
/* estilos para dar estilo a a clase fallar*/
.failure-icon, .error{
    color: red;
}
/* estilos para dar estilo a la clase exito*/
.success-icon{
    color: green;
}
/* estilos para dar estilo a la clase error*/
.error{
    font-size: 14.5px;
    margin-top: 5px;
}
/*los ionos succes y failure se superponen entre si.*/
.success-icon,
.failure-icon{
    right: 0;
    opacity: 0;
}
/*Reglas de estilo para boton enviar */ 
button{
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #f2796e;
    border: 2px solid #f2796e;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor:pointer; 
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    transition: all 0.1s ease;
}
/* Efecto flotar*/
button:hover{
    opacity: 0.8;
}
/*REDES SOCIALES*/
/*Estilo a la lase boton*/
.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}
/*Estilo a los botones 4 y 5*/
.btn-4,
.btn-5{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 5px;
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 2px solid #c4c4c4;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
}
/*Cambia el color del boton5 del facebook*/
.btn-5{
    background-color: rgb(70, 59, 224);
    color: rgb(215, 225, 188);
}
/*centra la letra O*/
.or{
    /*text-aling: center;*/
    color: #fff;
    text-align: center;
}
.pregunta{
    color: #fff;
    font-size: 15px;
}
/*cambia el color a rojo de registrate*/
span{
    color:#f2796e;
    cursor: pointer;
}


/*reglas de estilo para la seccion de contenido*/
.contenido{
    display: flex;
    flex-direction: column;
    justify-content: #f2796e;
    width: 55%;
    min-height: 100vh;
    padding: 10px 20px;
}

/*stilos para la clase .texto:*/
.texto{
    text-align: center;
    color: white;
    font-size: 18px;
}
#formulario{
    width: 45%;
    max-width: none;

}


@media(max-width:991px){
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #f61706;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }   
    .menu .navbar ul li a:hover{
    color:gainsboro;
    } 

    #menu:checked ~ .navbar{
        display: initial;
    }

    .menu-icono{
        width: 25px;
    }  

    header{
        height: 50vh;
    }   

    .header-text{
        margin-top: 50px;
        padding: 0px 25px;
    }   

    .services{
        padding: 30px;
    }   

    .txt-1{
        padding: 30px;
    }   

    .group-services{
        flex-direction: column;
    }   

    .service{
        margin-bottom: 20px;
    }   

    .porfolio{
        padding: 0px 30px;
        flex-direction: column;
        text-align: center;
    }   

    .porfolio-txt p{
        margin:0;
    }   

    .imgs{
        flex-direction: column;
        align-items: center;
    }  
    
    .imgs img{
        margin:15px 0px 0px 0px;
    }   

    .bg-txt{
        padding: 30px;
    }   

    .prices{
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }  
    
    .price{
        margin-bottom: 15px;
    }
    .pregunta{
        font-size: 15px;
    }
    footer{
        padding: 30px;
    }

    .ft{
        text-align: center;
        flex-direction: column;

    }
    
    .enlace form{
        align-items: center;
    }
    





    /*diseño responsivo.Para pantallas con un ancho de 900 px */ 
    .container{
        flex-direction: column;
    }
    #formulario,
    .contenido{
        width: 100%
    }

    .btn-7{
        flex-direction: column;
    }
}
/*Para las pantallas con un ancho de 425px, haremos estos cambios minimos*/
@media (max-width:425px){
    #formulario{
        padding: 20px;
    }
}



